# Ignorar pastas de dependências
node_modules/
venv/
env/

# Ignorar arquivos de configuração sensíveis e variáveis de ambiente
.env
*.env
*.secret

# Ignorar arquivos compilados e de sistema
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Ignorar pastas de build ou logs
build/
dist/
logs/
*.log
