.hero h2 {
    text-align: left;
  }

  .hero p {
    text-align: center;
  }

  .card {
    text-align: left;
  }

  .card p {
    text-align:left;
    margin-left: 20px;
  }

  .card button {
    margin-left: 20px;
  }

  .card h3 {
    margin-left: 20px;
  }

  
/* Tablets */
@media (max-width: 1024px) {
  .cards {
    gap: 15px;
  }

  .card {
    padding: 20px;
  }

  .texto {
    width: 90%;
  }
}

/* Celulares */
@media (max-width: 768px) {

  .hero {
    padding: 30px 20px;
    text-align: center;
  }

  .hero h2 {
    font-size: 24px;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .texto {
    width: 95%;
    padding: 25px;
  }

  .texto h2 {
    font-size: 24px;
  }

  .texto p {
    font-size: 15px;
  }

  footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.links a {
  color: inherit;
  text-decoration: none;
  text-align: left;

}
