@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #d8c5e6;
  margin: 0%  ;
}

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  min-height: 100px;
  background: #9586a09d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 42px;
}

.logo h1 {
  color: #5e2f7f;
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 0%;

}

.logo p {
  font-size: 13px;
  color: #796b83;
  margin-bottom: 20px;
}

.navbar nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.navbar nav a:hover {
  opacity: 0.8;
}

.ativo {
  background: #583d6f;
  padding: 4px 14px;
  border-radius: 20px;
}
.page-content {
  display: flex;
  flex-direction: column;
  
}